 body{
            
            background-color: chocolate;
            background-size: 100%; /* Stretches to fill container */
         cursor: url(coffeebeanCursor.png), auto;
          
        }

        
           
  .containerforCOFFEEWORDS {
  position: relative;
  text-align: center;
  color: white;
  font-size: 65px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 1000;

    }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-image-width: 50%;
    }

 .startingimage {
  position: relative;
  text-align: center;
  color: white;
  font-size: 80px;
  margin-bottom: 10px
    }
 

    
        
    h1{
        color: black;
        font-size: 80px;
        background-color: orange;
        margin-bottom: 100px
    }
    h2{
      font-size: 50px;
      margin-top: 100px;
    }


   
table, th, td {
  border: 2px solid orange;
  padding: 10px
 

}
#table1 {
  border-collapse: separate;
  border-spacing: 2px;
  text-align:center;
    color: white;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-weight: 1000;
  
}

table {
  width:100%;
  padding: 45px
  
}
.mycontainer { 
  font-size: 30px;
  background-color: lightgoldenrodyellow;
  border-radius: 1000px;
  display: flex;
  justify-content: space-around;
  
  

  
}




