 body{
            
            background-color: chocolate;
            background-size: 100%; /* Stretches to fill container */

        
        }

        
           
    .containerforCOFFEEWORDS {
  position: relative;
  text-align: center;
  color: white;
  font-size: 80px;

    }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-image-width: 50%;
    }

 .startingimage {
  position: relative;
  text-align: center;
  color: white;
  font-size: 80px;
margin-bottom: 20px
    }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    }

    
        
    h1{
        color: black;
        font-size: 50px;
        background-color: orange;
    }

    #nice {
        color: black;
        font-size: 40px;
        background: orange;
    }
    
   
table, th, td {
  border: 2px solid orange;
  padding: 10px
 

}
#table1 {
  border-collapse: separate;
  border-spacing: 2px;
  text-align:center;
    color: white;
    font-size: 30px  

  
}

table {
  width:100%;
  overflow:auto;
  padding: 50px
}
div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:33%;  
  float:left;
}

div.mycontainer {
     color: black;
        font-size: 15px;
        background-color: burlywood;
}

